/* font-family: 'Almendra', serif;
font-family: 'Delius', cursive;
font-family: 'Cabin', sans-serif; */
html{
  font-size: 20px;
  font-family: 'Delius', cursive;
}
a{
  text-decoration: none;
  color: hsl( 0, 0%, 0%);
  margin-left: 1rem;
   outline: 0;

}
.headnav span:hover a{
  color: hsl(0, 0%, 60%);
}
.centrado{
  width: 95%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
strong{
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
h1{
  font-size: 3rem;
}
h2{
  font-family: 'Almendra', serif;
  font-size: 1.5rem;
}
span:last-child{
  color: hsl(0, 0%, 60%);
}
/*                                HEADER                              */

#banner, #headlogo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#headlogo img{
  height: 2rem;
}
header{
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
}
/*                           CONTENT                                 */
.content{
  width: 100%;
}
.grray{
  background-color: hsl(0, 0%, 60%);
}
.contenido{
  display: flex;
}
/*                           FIRST PART                                   */
.unapar img{
  height: 60%;
  width: 60%;
  margin: 2rem 1.5rem 2rem 0;
  border-radius: .2rem;
}

.unapar{
  align-items: center;
}

#learn{
  width: 30%;
}
#learn p{
  margin: 4rem 0;

}
#learn span a{
  display: inline-block;
    color: hsl(0, 0%, 100%);
    margin-left: 0;
    padding: 1rem 0;
    width: 100%;
}
#learn span{
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color:hsl(0, 0%, 40%);
  transition: background-color .2s linear 0s, box-shadow .05s linear 0s;
  border-radius: .2rem;
    box-shadow: 2px 3px 5px hsl(0, 0%, 20%);
}
#learn span:hover{
  background-color: hsl(0, 0%, 40%);

}
#learn span:active{
  background-color:hsl(0, 0%, 40%);
  box-shadow: none;
}
