/* font-family: 'Almendra', serif;
font-family: 'Delius', cursive;
font-family: 'Cabin', sans-serif; */
html{
  font-size: 20px;
  font-family: 'Delius', cursive;
}
a{
  text-decoration: none;
  color: hsl( 0, 0%, 0%);
  margin-left: 1rem;
   outline: 0;

}
.headnav span:hover a{
  color: hsl(0, 0%, 60%);
}
.centrado{
  width: 95%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
strong{
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
h1{
  font-size: 2.5rem;
}
h2{
  font-family: 'Almendra', serif;
  font-size: 1.5rem;
}
span:last-child{
  color: hsl(0, 0%, 60%);
}
/*                                HEADER                              */

#banner, #headlogo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#headlogo img{
  height: 2rem;
}
header{
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
}
/*                           CONTENT                                 */
.content{
  width: 100%;
}
.grray{
  background-color: hsl(0, 0%, 70%);
}
.contenido{
  display: flex;
}
/*                           FIRST PART                                   */
.unapar img{
  width: 60%;
  height: auto%;
  margin: 2rem 1.5rem 2rem 0;
  border-radius: .2rem;
}

.unapar{
  align-items: center;
}

#learn{
  width: 35%;
}

#learn p{
  margin: 3rem 0;
}

#learn span a{
    display: inline-block;
    color: hsl(0, 0%, 100%);
    margin-left: 0;
    padding: 1rem 0;
    width: 100%;
}

#learn span{
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color:hsl(0, 0%, 40%);
  transition: background-color .2s linear 0s, box-shadow .04s linear 0s;
  border-radius: .2rem;
  box-shadow: 2px 3px 5px hsl(0, 0%, 20%);
}

#learn span:hover{
  background-color: hsl(0, 0%, 45%);
}

#learn span:active{
  background-color:hsl(0, 0%, 40%);
  box-shadow: none;
}
/*                   SECOND PART                        */
/* IZQUIERDA */
.izquierda{
  width: 60%;
  border-right: 1px solid hsl(0, 0%, 60%);
  padding-right: 1.5rem;
}
.izquierda img{
  width: 100%;
  height: auto;
  margin: 2rem 0 2rem 0;
  border-radius: .2rem;
}
.izquierda .otherside{
  margin: 2rem 0;
}

/* DERECHA */
.derecha{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.minitext{
  margin-left: 1rem;
}
.mininota{
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 0;
  margin: 0.1rem 0;
  border-top: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  transition: all 0.2s linear 0s;
}
.mininota:hover{
  background-color:hsl(240, 50%, 80%);
}
.mininota img{
  width: 35%;
  height: auto;
  margin-left: 1rem;
}
.minitext a{
  padding: 0;s
  margin: 0;
  color: hsl(240, 100%, 40%);
  font-size: 0.75rem;
}
.minitext a:hover{
font-family: 'Cabin', sans-serif;
}
.otherside{
font-size: 0.75rem;
margin: 1rem 0;
}
/*                       THIRD PART               */
#remolacha{
  margin: 2rem auto;
  text-align: center;
}
#courses{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.course{
display:flex;
flex-direction: column;
width: 30%;
background-color: hsl(0, 0%, 100%);
margin-bottom: 2rem;
transition: all 0.5s ease 0s;

}
.course p{
  margin-left: 0.75rem;
  margin-top: 1rem;
  transition: all 0.5s ease 0s;
}
.course:hover{
  opacity: 0.5;
  background-color: hsl(240, 50%, 40%);
}
.course:hover p{
  color: hsl(0, 0%, 100%);
}
.course .otherside{
  padding-bottom: 2rem;
}
/* practice */
/* practice */
/* practice */
/* practice */
.sidebar {
  flex-direction: column;
  position: fixed;
  top: 40%;
  border-radius: 0.5rem;
  right: 0;
  width: 28rem;
}
.side img{
  width: 3rem;
  padding-right: 3rem;
}
.side{
  margin: 0;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.siderow{
  background-color:hsl(120, 100%, 90%);
  position: relative;
  right: -25rem;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s ease 0s;
  width: auto;
}
.info{
  border-top: 1px solid black;
  border-bottom:  1px solid black;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.side span{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.side span a{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.abajo:hover{
  background-color:hsl(180, 100%, 93%);
  right: 0rem;
}
.abajo:hover img{
  display: none;
}
.medio:hover{
  background-color:hsl(180, 100%, 93%);
  right: 0rem;
}
.medio:hover img{
  display: none;
}
.arriba:hover{
  background-color:hsl(180, 100%, 93%);
  right: 0rem;
}
.arriba:hover img{
  display: none;
}

/* practice */
