/* font-family: 'Almendra', serif;
font-family: 'Delius', cursive;
font-family: 'Cabin', sans-serif; */
html{
  font-size: 20px;
  font-family: 'Delius', cursive;
}
a{
  text-decoration: none;
  color: hsl( 0, 0%, 0%);
  margin-left: 20px;
  margin-left: 1rem;
   outline: 0;
}
.ninjapic{
  display: none;
}
.headnav span:hover a{
  color: hsl(0, 0%, 60%);
}
.centrado{
  width: 95%;
  margin: 0 auto;
}
strong{
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
h1{
  font-size: 50px;
  font-size: 2.5rem;
}
h2{
  font-family: 'Almendra', serif;
  font-size: 30px;
  font-size: 1.5rem;
}
span:last-child{
  color: hsl(0, 0%, 60%);
}
/*                                HEADER                              */

#banner, #headlogo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#headlogo img{
  height: 2rem;
}
header{
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
  header{
    width: 100%;
    height: 4rem;
    background-color: white;
    position: fixed;
    border-bottom: 1px solid hsl(0, 0%, 60%);
    top: 0;
    z-index: 3;
  }
/*                           CONTENT                                 */
.content{
  width: 100%;
}
.grray{
  background-color: hsl(0, 0%, 70%);
}
.contenido{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*                           FIRST PART                                   */
.unapar img{
  width: 60%;
  height: auto%;
  margin: 40px 30px 40px 0;
  margin: 2rem 1.5rem 2rem 0;
  border-radius: .2rem;
}

.unapar{
  margin-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

#learn{
  width: 35%;
}

#learn p{
  margin: 60px 0;
  margin: 3rem 0;
}

#learn span a{
    display: inline-block;
    color: hsl(0, 0%, 100%);
    margin-left: 0;
    padding: 20px 0;
    padding: 1rem 0;
    width: 100%;
}

#learn span{
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color:hsl(0, 0%, 40%);
  -webkit-transition: background-color .2s linear 0s, box-shadow .04s linear 0s;
  transition: background-color .2s linear 0s, box-shadow .04s linear 0s;
  border-radius: .2rem;
  box-shadow: 2px 3px 5px hsl(0, 0%, 20%);
}

#learn span:hover{
  background-color: hsl(0, 0%, 45%);
}

#learn span:active{
  background-color:hsl(0, 0%, 40%);
  box-shadow: none;
}
/*                   SECOND PART                        */
/* IZQUIERDA */
.izquierda{
  width: 60%;
  border-right: 1px solid hsl(0, 0%, 60%);
  padding-right: 30px;
  padding-right: 1.5rem;
}
.izquierda img{
  width: 100%;
  height: auto;
  margin: 40px 0 40px 0;
  margin: 2rem 0 2rem 0;
  border-radius: .2rem;
}
.izquierda .otherside{
  margin: 40px 0;
  margin: 2rem 0;
}

/* DERECHA */
.derecha{
  margin-top: 40px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.minitext{
  margin-left: 20px;
  margin-left: 1rem;
}
.mininota{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  padding: .5rem 0;
  margin: 2px 0;
  margin: 0.1rem 0;
  border-top: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.mininota:hover{
  background-color:hsl(240, 50%, 80%);
}
.mininota img{
  width: 35%;
  height: auto;
  margin-left: 20px;
  margin-left: 1rem;
}
.minitext a{
  padding: 0;s
  margin: 0;
  color: hsl(240, 100%, 40%);
  font-size: 15px;
  font-size: 0.75rem;
}
.minitext a:hover{
font-family: 'Cabin', sans-serif;
}
.otherside{
font-size: 15px;
font-size: 0.75rem;
margin: 20px 0;
margin: 1rem 0;
}
/*                       THIRD PART               */
#remolacha{
  margin: 40px auto;
  margin: 2rem auto;
  text-align: center;
}
#courses{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.course{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
width: 30%;
background-color: hsl(0, 0%, 100%);
margin-bottom: 40px;
margin-bottom: 2rem;
-webkit-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;

}
.course p{
  margin-left: 15px;
  margin-left: 0.75rem;
  margin-top: 20px;
  margin-top: 1rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.course:hover{
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background-color: hsl(240, 50%, 40%);
}
.course:hover p{
  color: hsl(0, 0%, 100%);
}
.course .otherside{
  padding-bottom: 40px;
  padding-bottom: 2rem;
}
/* FOURTH PART */
#rowing{
  display: flex;
}
#thesis {
  text-align: center;
  margin: 50px 0;
  margin: 2.5rem 0;
}
.izquierda video{
  margin-bottom: 3rem;
}
#fourthpart div{
  border: none;
}
/* FOOTER */
footer{
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid hsl(0, 0%, 60%);
}
#footah{
  display: flex;
  justify-content: space-between;
}
/* MEDIA QUERIES SECTION */

@media only screen and (max-width: 1024px){
  .samurai{
    display: none;
  }
  .headnav, #headlogo span, .course img, .course .otherside{
    display: none;
  }
  .ninjapic{
    display: inline-block;
  }
  #headlogo{
    justify-content: space-around;
  }
  .unapar{
    flex-direction: column;
  }
  #learn{
    width: 80%;
    text-align: center;
    padding-bottom: 2rem;
  }
  #infos .centrado .contenido .izquierda{
display: none;
  }
  .mininota{
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
  .derecha{
    width: 100%;
    margin-bottom: 2rem;
  }
  .mininota img{
    width: 80%;
  }
  .course{
  font-size: 1.75rem;
  width: 100%;
  font-family: "Almendra", serif;
  font-weight: 700;
  margin: .2rem;
  padding: 1rem 0;
  text-align: center;
  }
  #third{
    padding-bottom: 2rem;
  }
  #rowing .derecha{
    display: none;
  }
  #rowing .izquierda{
    width: 100%;
  }
  .graycolor span{
    display: none;
  }
  .izquierda{
    margin: 0;
    padding: 0;
  }
}






/* practice */
/* practice */
/* practice */
/* practice */
/* .sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 40%;
  border-radius: 0.5rem;
  right: 0;
  width: 560px;
  width: 28rem;
}
.side img{
  width: 60px;
  width: 3rem;
  padding-right: 60px;
  padding-right: 3rem;
}
.side{
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  padding: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 10px;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: .5rem;
}
.siderow{
  background-color:hsl(120, 100%, 90%);
  position: relative;
  right: -500px;
  right: -25rem;
  position: relative;
  border-top-left-radius: 10px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 0.5rem;
  font-size: 40px;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: auto;
  margin: 0.3rem 0rem;
}
.info{
  border-top: 1px solid black;
  border-bottom:  1px solid black;
  border-top-left-radius: 10px;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: .5rem;
}
.side span{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.side span a{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.abajo:hover{
  background-color:hsl(180, 100%, 93%);
  right: 0px;
  right: 0rem;
}
.abajo:hover img{
  display: none;
}
.medio:hover{
  background-color:hsl(180, 100%, 93%);
  right: 0px;
  right: 0rem;
}
.medio:hover img{
  display: none;
}
.arriba:hover{
  background-color:hsl(180, 100%, 93%);
  right: 0px;
  right: 0rem;
}
.arriba:hover img{
  display: none;
} */
/* practice */
/* Maaahn that was hard and i wasnt convinced */
